/* Color theme for the website */
$background-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$btn-color: rgb(255, 219, 43);
$sheets-color: #fafaff;

/* Fonts */
$global-font: 'Roboto', sans-serif;